---
namespace: {{ collection_namespace }}
name: {{ collection_name }}
version: {{ collection_version }}
description: A collection of roles to manage RHV Provision, Satellite and IDM registration.
readme: README.md
authors:
    - Jonathan Lozada De La Matta @jlozadad
repository: {{ collection_repo }}
issues: {{ collection_repo }}/issues
build_ignore:
    - galaxy.yml.j2
    - release.yml
    - .github
    - .ansiblelint.yml
    - .yamllint.yml
license:
    - GPL-3.0-or-later
tags:
    - RHV
    - Satellite
    - collection
    - IDM
dependencies:
    ovirt.vm-infra: "*"
    freeipa: "*"
